
#equipe {
  
  margin-top: 50px;         
}



.header_Equipe {
  color: #00338d;
  margin-left: auto;
  margin-right: auto;
}
/* line 7, ../sass/equipes.scss */
.header_Equipe h1 {
  font-size: 3.5em;
  margin-top: 50px;
}
/* line 10, ../sass/equipes.scss */
.header_Equipe h2 {
  font-size: 2.5em;
}

/* line 18, ../sass/equipes.scss */
.operation {
  color: white;
  margin-top: 30px;
  padding: 30px;
}
/* line 21, ../sass/equipes.scss */
.operation .row {
  padding: 20px;
}
/* line 30, ../sass/equipes.scss */
.operation h2 {
  color: white;
  text-transform: normal;
  font-size: 2.5em;
  font-weight: normal;
}
/* line 34, ../sass/equipes.scss */
.operation p {
  text-align: justify;
  font-size: 1.3em;
}
/* line 39, ../sass/equipes.scss */
.operation .photoequipe {
  background: url(../img/Membres/dorian_A_IMG_3023.jpg);
  background-repeat: no-repeat;
  background-size: 150px auto;
  width: : 150px;
  height: 150px;
  background-position: -5px;
  width: 170px;
  float: left;
  top: -53px;
  margin-top: 25px;
}

/* line 58, ../sass/equipes.scss */
.conseil .row {
  padding: 20px;
  margin-top: 0px;
  padding: 30px;
}

.conseil .row h2 {
  font-size: 3em;

}

.conseil .row p {
  text-align: justify;
  font-size: 1.1em;
}
/* line 75, ../sass/equipes.scss */
.photoequipe {
  background: url(../img/Membres/dorian_A_IMG_3023.jpg);
  background-repeat: no-repeat;
  background-size: 150px auto;
  width: 150px;
  height: 150px;
  background-position: -5px;
  width: 170px;
  float: left;
  top: -53px;
  margin-top: 25px;
}

.membres {
      background-color: #f6f3ed;
      padding-bottom: 50px;
      margin-bottom: -50px;
}


.membres h2 {
  font-size: 3em;

}

.membres .row p {
  text-align: justify;
  font-size: 1.1em;
}



#equipe .row .btn_success {
    background-color: #db4d69;
    color: #FFF;
    display: block;
    width: 100%;
    height: 60px;
    font-size: 1.4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding-top: 16px;
}
#equipe .row .btn_success:hover {
    background-color: #00338d;
   
}




#flip {
    padding: 5px;
    background-color: #f6f3ed;
    cursor: pointer;
    text-align: center;
  }
 #flip1 {
    padding: 5px;

    cursor: pointer;
    text-align: center;
  }


#flip, #flip1 i{

    margin-top: 20px;
    margin-bottom: 20px;
    color: #db4d69;

  }

#panel, #panel1, .hidden {
    
    display: none;

  }

