/* line 1, ../sass/footer.scss */
footer {
  color: white;
  text-align: center;
  font-family: 'montserratregular';
  font-size: 18px;
  line-height: 180%;
  height: 480px;
  margin-top: 50px;
}
/* line 12, ../sass/footer.scss */
footer .row {
  margin-right: 0px;
  margin-left: 0px;
}
/* line 16, ../sass/footer.scss */
footer .row .adresse {
  color: white;
  text-align: right;
  width: 50%;
  height: 300px;
  border-right: 1px solid white;
  padding-right: 50px;
  margin-top: 30px;
  float: left;
}
/* line 27, ../sass/footer.scss */
footer .row .adresse h4 {
  font-size: 22px;
}
/* line 33, ../sass/footer.scss */
footer .row .logofooter {
  margin-top: 64px;
  margin-left: 45px;
  float: left;
}
/* line 49, ../sass/footer.scss */
footer a {
  color: white;
  margin-top: 50px;
}
/* line 53, ../sass/footer.scss */
footer a:hover {
  color: #db4d69;
}
