@font-face {
  font-family: 'misoregular';
  src: url("../fonts/miso-webfont.woff2") format("woff2"), url("../fonts/miso-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratsemibold';
  src: url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 37, ../sass/index.scss */
body {
  font-family: 'montserratregular';
  color: #564026;
}

/* line 49, ../sass/index.scss */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 56, ../sass/index.scss */
.marron {
  color: #564026;
}

/* line 63, ../sass/index.scss */
.container .row {
  margin: 0px;
  padding: 0px;
}
/* line 67, ../sass/index.scss */
.introHome {
  font-family: 'montserratregular';
  color: #564026;
  font-size: 1.2em;
  text-align: left;
  line-height: 2em;
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  }
/* line 80, ../sass/index.scss */
.container section {
  padding: 0px;
}
/* line 83, ../sass/index.scss */
.container section .libellule {
  width: 100px;
  height: 79px;
  background-image: url("../img/libellule_bleue.png");
  margin-top: 100px;
  margin-left: 20px;
  transform: rotate(-17deg);
}
/* line 97, ../sass/index.scss */
.container h1 {
  font-family: 'misoregular';
  color: #00338d;
  font-size: 3em;
}

/* line 106, ../sass/index.scss */
.contenu {
  margin: auto;
}
/* line 110, ../sass/index.scss */
.contenu header {
  height: 120px;
  width: 100%;
  background-color: #00338d;
  border-bottom: 5px solid #bbb;
  z-index: 100;
  display: block;
}
/* line 119, ../sass/index.scss */
.contenu header .logo {
  float: left;
  padding: 14px 0px 15px 35px;
}
/* line 126, ../sass/index.scss */
.contenu header .navbar-header {
  float: none;
}
/* line 130, ../sass/index.scss */
.contenu header .navbar-right {
  float: right !important;
  margin-right: 0px;
}
/* line 135, ../sass/index.scss */
.contenu header nav ul {
  font-family: 'misoregular';
  color: #00338d;
  margin-top: 40px;
  background-color: white;
}
/* line 141, ../sass/index.scss */
.contenu header nav ul .menu {
  width: 181px;
}
/* line 144, ../sass/index.scss */
.contenu header nav ul .menu:nth-child(1) {
  border-bottom: 5px solid #8791a4;
}
/* line 147, ../sass/index.scss */
.contenu header nav ul .menu:nth-child(2) {
  border-bottom: 5px solid #AADBDB;
}
/* line 150, ../sass/index.scss */
.contenu header nav ul .menu:nth-child(3) {
  border-bottom: 5px solid #db4d69;
}
/* line 157, ../sass/index.scss */
.contenu header nav ul .menu a {
  font-size: 18pt;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: #00338d;
}
/* line 166, ../sass/index.scss */
.contenu header nav ul .menu .dropdown-menu {
  background-color: #f6f3ed;
  width: 280px;
  font-family: 'montserratregular';
  padding: 15px;
}
/* line 174, ../sass/index.scss */
.contenu header nav ul .menu .dropdown-menu a {
  color: #564026;
  text-transform: initial;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid white;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: auto;
}
/* line 188, ../sass/index.scss */
.contenu header nav ul .menu .dropdown-menu a:hover {
  color: #db4d69;
  border-bottom: 5px solid #db4d69;
}
/* line 202, ../sass/index.scss */
.contenu header nav ul .menu .nav .open > a, .contenu header nav ul .menu .nav .open > a:focus, .contenu header nav ul .menu .nav .open > a:hover {
  background-color: #f6f3ed;
  border-color: #f6f3ed;
}

/* line 217, ../sass/index.scss */
.header {
  height: 120px;
  width: 100%;
  display: inline-block;
  background-color: #00338d;
  border-bottom: 5px solid #bbb;
  z-index: 1000;
}

/* line 232, ../sass/index.scss */
.axes {
  background-color: #007C92;
  align-items: center;
  flex-wrap: nowrap;
  text-shadow: 1px 1px 1px #6a6a6a;
  width: 100vw;
  left: 0px;
  
}
/* line 239, ../sass/index.scss */
.axes .axe {
  width: 380px;
  height: 650px;
  float: left;
  color: white;
  text-align: center;
  display: block;
  cursor: pointer;
}
/* line 249, ../sass/index.scss */
.axe a {
  color: white;
}
/* line 253, ../sass/index.scss */
.axe h2 {
  color: white;
}
/* line 256, ../sass/index.scss */
.axe h2:hover {
  color: white;
  text-decoration: none;
}
/* line 263, ../sass/index.scss */
.axe div img {
  height: 460px;
  width: 100%;
  overflow: hidden;
}
/* line 267, ../sass/index.scss */
.axe div img:hover {
  opacity: 0.8;
}
/* line 272, ../sass/index.scss */
.axe:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 1px 2px 3px white;
  -moz-box-shadow: 0px 1px 2px 3px white;
  box-shadow: 0px 1px 2px 3px white;
}
/* line 278, ../sass/index.scss */
.axe:hover a {
  text-decoration: none;
}
/* line 289, ../sass/index.scss */
.axes h2 {
  font-family: 'misoregular';
  text-transform: uppercase;
  font-weight: bold;
}
/* line 296, ../sass/index.scss */
.axes h2 a:hover {
  color: white;
}
/* line 302, ../sass/index.scss */
.axes h3 {
  font-family: 'misoregular';
  text-transform: uppercase;
  font-weight: bold;
}
/* line 310, ../sass/index.scss */
.axes p {
  font-family: 'montserratregular';
  font-size: 1.2em;
  margin-top: 0px;
}
/* line 317, ../sass/index.scss */
.axes .logement {
  border-top: 5px solid #db4d69;
  background-color: #db4d69;
}
/* line 322, ../sass/index.scss */
.axes .logement h2 {
  font-size: 5.2em;
  margin-bottom: 0px;
  margin-top: 30px;
}
/* line 329, ../sass/index.scss */
.axes .logement p {
  font-size: 1.3em;
  margin-top: 0px;
}
/* line 336, ../sass/index.scss */
.axes .education {
  border-top: 5px solid #00338d;
  background-color: #00338d;
}
/* line 341, ../sass/index.scss */
.axes .education h2 {
  font-size: 3.8em;
  margin-bottom: 35px;
  margin-top: 35px;
}
/* line 351, ../sass/index.scss */
.axes .education p {
  font-size: 1.3em;
  padding-bottom: 15px;
  margin-top: -15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2em;
  width: 70%;
}
/* line 366, ../sass/index.scss */
.axes .sante {
  border-top: 5px solid #AADBDB;
  background-color: #AADBDB;
}
/* line 371, ../sass/index.scss */
.axes .sante h2 {
  font-size: 3.7em;
  margin-top: 5px;
}
/* line 377, ../sass/index.scss */
.axes .sante h3 {
  font-size: 5em;
  margin-bottom: 0px;
  margin-top: -20px;
}
/* line 385, ../sass/index.scss */
.axes .sante p {
  font-size: 1.3em;
  margin-top: -5px;
  padding-bottom: 15px;
  text-shadow: 1px 1px 1px black;
}

/* line 403, ../sass/index.scss */
section.citation {
  background-color: #f6f3ed;
  width: 100%;
}
/* line 408, ../sass/index.scss */
section.citation .citation_image {
  display: block;
  background-image: url("../img/femme.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 525px;
}
/* line 417, ../sass/index.scss */
section.citation .citation_texte {
  font-family: 'misoregular';
  color: #00338d;
  font-size: 4em;
  letter-spacing: -0.05em;
  position: absolute;
  margin-top: -350px;
  margin-left: 530px;
  line-height: 55px;
}
/* line 430, ../sass/index.scss */
section.citation .auteur {
  font-family: montserratregular;
  color: #564026;
  font-size: 1.5em;
  margin-left: 445px;
  margin-top: -50px;
  letter-spacing: -0.05em;
}
/* line 439, ../sass/index.scss */
section.citation .libellule_blanche {
  width: 200px;
  height: 200px;
  background-image: url("../img/libellule_blanche.png");
  background-repeat: no-repeat;
  position: absolute;
  margin-top: -150px;
  right: 400px;
}

/* line 454, ../sass/index.scss */
section.slider_projets {
  background-color: #f6f3ed;
  padding-bottom: 50px;
}

/* line 463, ../sass/index.scss */
footer {
  height: 435px;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007C92+0,aadbdb+100 */
  background: #007c92;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #007C92 0%, #AADBDB 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(180deg, #007C92 0%, #AADBDB 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(180deg, #007C92 0%, #AADBDB 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007C92', endColorstr='#AADBDB',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}


/*menu langues du header*/
.langues{
       width: 50px!important; 
       height: 50px;

 }


.langues ul {
    background-color: #f6f3ed;
    width: 50px;
    font-family: 'montserratregular';
    padding: 15px;
}

.langues .dropdown-menu > li a{
    width: 50px;
   

}
.langues .dropdown-menu{
    width: 50px;
    padding-left: 0px;
}

 .contenu header nav ul .menu .lang{
    width: 50px!important; 
    font-family: 'montserratregular';

}