/* line 1, ../sass/logement.scss */
* {
  margin: 0 auto;
  padding: 0 auto;
}


/*header test*/
.header_rose {
  background-color: #db4d69 ;
  color: white;
  padding: 5px;
  display: block;
  height: 127px;
}

/* line 6, ../sass/logement.scss */
#logement {
  font-family: 'montserratregular', sans-serif;
}
/* line 9, ../sass/logement.scss */
#logement h1 {
  text-transform: uppercase;
  font-family: 'misoregular', sans-serif;
  color: white;
  font-size: 4.5em;
  margin-top: 13px;
  margin-bottom: -10px;
}
/* line 15, ../sass/logement.scss */
#logement .icon-home-outline {
  font-size: 7em;
}
/* line 20, ../sass/logement.scss */

.logementFirst h1 {
  font-size: 5.2em;
  font-family: 'montserratregular', sans-serif;
}
/* line 25, ../sass/logement.scss */
#logement span {
  font-family: 'montserratregular', sans-serif;
  font-size: 1.3em;
}
/* line 31, ../sass/logement.scss */
.ImageHeader img {
  margin-left: 78px;
}
/* line 36, ../sass/logement.scss */

/* line 39, ../sass/logement.scss */
.LogementSecond {
  padding-top: 5%;
}
/* line 42, ../sass/logement.scss */
.LogementSecond h2 {
  font-size: 2.5em;
  text-align: center;
  font-family: 'montserratsemibold', sans-serif;
  color: #564026;
}


.row .LogementSecond .citation_rose {
      color: #db4d69;
                
}

#logement .TechFirst p {
    line-height: 2em;
    font-size: 1.4em;
    padding-right: 50px;
    padding-bottom: 41px;
}

.LogementSecondRight {
                      
  background-color: #db4d69;
}

.border_rose img {
    width: 150px;
    height: 150px;
    float: left;
    border-left: 6px solid #db4d69;
    background-image: url("http://www.becode.org/partners/images/image.png");
    background-size: 150px;
    margin-right: 20px;
}

.border_rose img:hover {

    border-left: 6px solid #00338d;

}



.row .citation_rose p{               
  color: #db4d69;
  background: linear-gradient(to right, #f6f3ed, white);
  font-family: 'misoregular';
  padding-top: 25px;
 }

.rose h4 a{
  color: #db4d69;
}
.rose h4 a:hover{
  color: #00338d;
}

#logement .LogementSecond p{
   color: #db4d69;
}


#logement .LogementSecond .lettrine1 {

  color: #db4d69;
  font-size: 10em;
  display: block;
  float: left;
  font-family: 'Frank Ruhl Libre', serif;
  margin-top: 80px;
  margin-right: 20px;
}

#logement .LogementSecond .lettrine2 {

  color: #db4d69;
  font-size: 2em;
  font-family: 'Frank Ruhl Libre', serif;
  
}