/* line 3, ../sass/projet.scss */
.projetLogement{
  background-color: #db4d69;
  color: white;
}

.pageProjet {
    margin-top: 15px;
}
/* line 7, ../sass/projet.scss */

/* line 18, ../sass/projet.scss */
#projetLogement h1 {
  color: #db4d69;
  font-size: 3.5em;
  padding-top: 30px;
  text-transform: uppercase;
}
/* line 28, ../sass/projet.scss */
#projetLogement .icon-home-outline {
  font-size: 106px;
  color: #db4d69;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: -10px;
  display: block;
}

#text_logement .icon2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #db4d69;
}
/* line 39, ../sass/projet.scss */
.container .row .vignette img {
  width: 150px;
  height: 150px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  display: block;
  border-left: 5px solid #AADBDB;
}

.container .row .introLogement{
   
   color: white;
   font-size: 1.3em;
   line-height: auto;
   padding-bottom: 5px;
   padding-top: 10px;
   text-align: center;
   z-index: 500;
 }

.container .row .slider{
    background-color: #AADBDB;
    width: 100%;
    height: 100%;
    display: block;
    padding : 15px;
    text-align: center;
    z-index: -1;
}

.container .row .slider img {
    width: 100%;  
}


#rose .btn_success {
  
    background-color: #FFF;
    color: #db4d69;
    display: block;
    width: 80%;
    height: 60px;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding-top: 16px;
}


#rose .btn_success:hover {
  
    background-color: #00338d;
    color: white;
}

.container .row .legende {
  
    display: block;    
    color: #db4d69;
    font-size: 1.2em;
}

.col-sm-3 {
    width: 25%;
    padding-top: 50px;
}
#text_logement h2 {
   
   font-family: 'misoregular';
    color: #db4d69;
    font-size: 2.2em;

}


.container .row  .texte {
   font-family: 'montserratregular';
   font-size: 18px;
    line-height: 35px;
    text-align: justify;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;

   }


.projet .row  h4 {
   font-family: 'misoregular';
   font-size: 40px;
   color: #AADBDB;
   display: block;

   }

#text_logement .name {
   color: #db4d69;
   font-size: 20px;
   font-weight: bold;
   display: block;
   margin-bottom: 10px;

   }
#text_logement .function {

   font-weight: bold;
   display: block;
   margin-bottom: 10px;


  }
#text_logement .perso {  
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #AADBDB;

  }

 .icon-monitor::before {
    content: "\e902";
    width: 47px;
    float: left;
  }

.projet h1 {
   
         margin-left: 150px;
    }

.carousel-inner > .item img {
          
          height: 450px;

}