*{
  margin: 0 auto;
  padding: 0 auto;
}


/*header test*/
.header_bleu {
  background-color: #00338d ;
  color: white;
  padding: 5px;
  display: block;
  height: 127px;
}

.container {
      
      padding-right: 0px;
      padding-left: 0px;

  }

/*Mission*/

.mission {
  border: 2px solid black;
  margin-left: 20%;
  margin-right: 20%;

}
#TechEd .row h1 {
  text-transform: uppercase;
  font-family: 'misoregular', sans-serif;
  color: white;
  font-size: 4.5em;
  margin-top: 14px;
  margin-bottom: -10px;
}

#TechEd .icon-monitor {
      font-size: 6em; 
      margin-top: 20px;  
      width: 100px;            

}

.TechEducation span { 
  font-family: 'montserratregular', sans-serif;
  font-size: 1.3em;
}

.TechFirst p {
   font-size: 1.5em;
}

.TechFirst h2 {

  font-size: 2em;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;

}

.col-sm-9 {
    padding: 0px;
            }

.mission h3 {
  padding-right: 1%;
}
.mission h2, .mission h3 {
  text-align: right;
  font-family: 'montserratregular', sans-serif;
  color: #564026;
  font-size: 1.5em;

}

.innovation {
  background-color: #AADBDB;
  margin-left: 20%;
  margin-right: 20%;
}

.innovation h2 {
  font-family: 'misoregular', sans-serif;
  color: #00338d;
}
.innovation p {
  font-family: 'montserratregular', sans-serif;
  color: white;
  font-weight: ;
}





/*selection projet*/

*{
  margin: 0 auto;
  padding: 0 auto;
}

article .selection {
  background-color: #AADBDB;


}

article h1 {
  font-size: 3em;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'misoregular', serif;
  color: #00338d;
  padding-left: 9%;
  padding-right: 4%;
}

.paragraphe {
  text-align: left;
  margin-top: 4%;
  font-family: 'misoregular', serif;
  line-height: 1.5em;

}
.paragraphe p{
  font-size: 1.5em;
  color: #564026;
  line-height: 1.5em;
  margin-left: 8%;
  margin-right: 8%;


}

.paragraphe ul {
  color: #564026;
  font-size: 1.5em;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 8%;
  margin-right: 8%;


}
.paragraphe h4 {
  font-size: 1.8em;
  line-height: 1.5em;
  font-family: 'misoregular', serif;
  color: #564026;
  padding-top: 2%;
  padding-bottom: 0%;
  background-color: #db4d69;
  color: white;
  padding-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;

}


.col-sm-5 {
    width: 50%;
}



footer .IconPieds {
  color: ;

}
footer .pieds {
  height: 200px;
}


/*TechEducation*/


#TechEd {

  color: white;

}

#TechEd .header {
      background-color: #00338d;
      height: 150px;
      padding-top: 18px;
         }

#TechEd .row {
      padding-right: 0px;
      padding-left: 0px;
}



#TechEd .row .btn_success {
             
margin-left: auto;
margin-right: auto;
margin-top: 21px;
padding-top: 9px;
font-size: 25px;

}

.TechEducation h1 {
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 300;
 

}
.TechEducation p {
  width: 40%;
  padding-top: 0.5%;
  font-size: 1em;
  font-family: 'montserratregular';
}

.row .TechFirst {
  color:rgb(86, 64, 38);
  font-size: 1em;
}

.TechFirst h2 {
      font-size: 1.8em;
      margin-top: 50px;
      margin-bottom: 30px;
      font-family: 'montserratsemibold';

}

.TechFirst p {
  line-height: 2em;
  font-size: 1.4em;
  padding-right: 50px;
  padding-bottom: 41px;
}

.row .TechSecond {
  background: linear-gradient(to right, #f6f3ed, white);
  font-family: 'misoregular';
  padding-top: 25px;
  
}

.row .TechSecond p {
    line-height: 1.5em;
    color: #00338d;
    font-size: 1.8em;
    padding-left: 30px;
    width: 90%;
    text-align: auto;
}



.lettrine1 {

  color: #00338d;
  font-size: 10em;
  display: block;
  float: left;
  font-family: 'Frank Ruhl Libre', serif;
  margin-top: 80px;
  margin-right: 20px;
}

.lettrine2 {

  color: #00338d;
  font-size: 2em;
  font-family: 'Frank Ruhl Libre', serif;
  
}

.TechSecond h5 {
     text-align: right;
      color: #00338d;
      margin-right: 150px;
      padding-bottom: 25px;

}
  

.TechSecond img {
          float: right;
          margin-top: -290px;
          margin-right: -100px;

}

.TechSecondLeft{


}

.TechSecondRight {
 
  min-height: 600px;

  text-align: center;
  float: left;
  width: 25%;
  height: 100%;
  right: 0px;
  bottom: 0px;
  padding-top: 0px;
  
  background: -moz-linear-gradient(top, #aadbdb 0%, #aadbdb 50%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #aadbdb 0%,#aadbdb 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #aadbdb 0%,#aadbdb 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 


}



.TechSecondRight h5 {
  margin-top: 100px;
  color: white;
  font-size: 2em;
  font-family: 'montserratregular';

}

.TechSecondRight img {
  display: block;
  margin: 41px;

}


.TechSecondRight .btn_info {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: white;
  color: #8791a4;
  font-family: 'misoregular';
  text-transform: uppercase;
  border-radius: 5%;
  margin-top: 10%;
  font-size: 25px;
  border-radius: 14px;
  border: 0px;
}

.TechSecondRight .btn_info:hover {

  background-color: #db4d69;
  color: #FFF;
  
}


.TechThird {
  background-color: #00338d;
  color: white;
  font-family: 'misoregular';

}

.TechThird .icon-monitor {
    line-height: auto;
}

.TechThird h3 {
  font-size: 2.5em;
}

.TechLast {
  margin-left: 3%;
  height: 600px;
}


#TechForth {
              padding-top: 40px;
   
   
}

.TechForth h4{
    color: #00338d;
    font-weight: bold;
    margin-bottom: 5px;
}

.TechForth h4 a:hover{
    color: #db4d69;
}

.TechForth img {
  width: 150px;
  height: 150px;
  float: left;
  border-left: 6px solid #00338d;
  background-image: url("http://www.becode.org/partners/images/image.png");
  background-size: 150px ;
  margin-right: 20px;
}

.TechForth img:hover {
 
  border-left: 6px solid #db4d69;
  opacity: 0.9;
 
}

.TechForth p {
  text-align: justify;
  color: #564026;
  font-size: 1.2em;
  margin-bottom: 40px;
}

