[Desktop Entry]
Encoding=UTF-8
Name=Link to http://cdn.lifebuzz.com/images/77612/lifebuzz-4f8ef23b26f5acd327841c8f5de3ebbb-limit_2000.jpg
Type=Link
URL=http://cdn.lifebuzz.com/images/77612/lifebuzz-4f8ef23b26f5acd327841c8f5de3ebbb-limit_2000.jpg
Icon=text-html
